:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

body, html{
    width: 100%;
    height: 100%;
    min-width: 260px;
}

body {
    min-width: 100vw;
}

.box-background {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    height: 100%;
    background-image: url("../images/music-images/brook.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
  
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.box-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;

    position: relative;
}

.box-aux-responsive {
    position: absolute;
    height: 40rem;
    width: 80%;

    top: 50%;
    left: 50%;
    margin: -20rem 0 0 -40%;

    border: none;
}

.box-content {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: none;
}

.box-content .box-description {
    height: 40rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

.box-content .box-description h1 {
    font-weight: 500;
    font-size: 6rem;
}

.box-content .box-description span {
    font-weight: 100;
    font-size: 3rem;
}

.box-content img {
    width: 40rem;
    height: 40rem;
}

.box-control {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    width: 50rem;
    height: 10rem;
    margin-left: -25rem;

    background-color: #000000;
    opacity: 0.5;
    border-radius: 6rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-control .bar-control {
    width: 100%;
    height: 40%;
    padding: 0 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.box-control #bar-play {
    width: 100%;
}

.box-control .bar-buttons {
    width: 100%;
    height: 60%;
    padding: 0 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-control .bar-buttons button {
    width: 4rem;
    height: 4rem;

    background: none;
    border: none;
    cursor: pointer;
}

.box-control button:focus {
    outline: none;
    box-shadow: 0;
    border: none;
}

.box-control .bar-buttons button img {
    width: 100%;
    height: 100%;
}

@media (orientation: portrait) {
    .box-background {
        background-size: auto 100%;
    }
}

@media (min-width: 1400px) {
    .box-aux-responsive {
        width: 1300px;
        margin: -20rem 0 0 -650px;
    }
}

@media (max-width: 1000px) {
    .box-aux-responsive {
        height: 30rem;
    }

    .box-content .box-description {
        height: 30rem;
    }

    .box-content img {
        width: 30rem;
        height: 30rem;
    }

    .box-content .box-description h1 {
        font-size: 4rem;
    }

    .box-content .box-description span {
        font-size: 2rem;
    }
}

@media (max-width: 730px) {
    .box-aux-responsive {
        height: 46rem;
        
        margin: -23rem 0 0 -40%;
    }

    .box-content {
        padding: 4rem 0;
        flex-direction: column;
    }
}

@media (min-height: 750px) and (orientation: portrait) {
    .box-aux-responsive {
        height: 50rem;
        
        margin: -25rem 0 0 -40%;
    }
}

@media (max-width: 500px) {
    .box-control {
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media (max-width: 600px) {
    .box-content img {
        width: 27rem;
        height: 27rem;
    }
}

@media (max-width: 440px) {
    .box-content img {
        width: 24rem;
        height: 24rem;
    }
}

@media (max-height: 830px) {
    .box-aux-responsive {
        margin-top: 45%;
    }
}