:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

body, html{
    width: 100%;
    height: 100%;
}

body {
    min-width: 100vw;
}

.box-background:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    height: 100%;
    background-image: url("../images/disco-voador.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
  
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
  
  .box-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;

    position: relative;
  }

.box-aux-responsive {
    position: absolute;
    height: 40rem;
    width: 80%;

    top: 50%;
    left: 50%;
    margin: -20rem 0 0 -40%;
}

.box-content {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-content .box-description {
    height: 100%;
}

.box-content .box-description h1 {
    font-weight: 500;
    font-size: 6rem;
}

.box-content .box-description span {
    font-weight: 100;
    font-size: 3rem;
}

.box-content img {
    width: 40rem;
    height: 40rem;
}

@media (min-width: 1400px) {
    .box-content {
        width: 1300px;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .box-content .box-description h1 {
        font-size: 4rem;
    }

    .box-content .box-description span {
        font-weight: 100;
        font-size: 2rem;
    }

    .box-content img {
        width: 30rem;
        height: 30rem;
    }
}

@media (max-width: 730px) {
    .box-content {
        justify-content: center;
        flex-direction: column;
    }

    .box-content img {
        margin-top: 4rem;
    }
}

@media (orientation: portrait) {
    .box-background:before {
        background-size: auto 100%;
    }
}